html{
	height: 100%;
}

body{
	padding-top: 50px;
	text-align: center;
	font-family: Raleway;
	background: #444444;
	height: 100%;
}

#up-front{
	padding-top: 25px;
	background-color: rgba(239, 230, 62,0.7);
	margin-top: 10px;
	padding-bottom:25px;
	letter-spacing: -.05em;
    width: 85%;
}
#bottom-text{
	font-size: 23px;
	margin-top: 10%;
	color:rgb(239,230,62);
	font-weight: bold; 
}
a{
	color: inherit;
	text-decoration: underline;
}
img{
	height: 15%;
	width: 15%;
}
#up-front h1{
	letter-spacing: 0.5em;
	font-weight: bolder;
}
#up-front h3{
	padding-top: 15px;
	letter-spacing: 0.1em;
	font-weight: bold;
}
@media screen and (max-width: 500px) {
    #up-front h1 {
    font-size: 150%;
    letter-spacing: 0.35em;
    font-weight: bolder;
    }
    #bottom-text{
    	font-size: 80%;
    }
}

